In [3]:
import pandas as pd

In [5]:
df_track = pd.read_csv(r'Track_202408231945.csv')

In [10]:
df_track

,Name,AlbumId,Milliseconds,Bytes
0,For Those About To Rock (We Salute You),1,343719,11170334
1,Balls to the Wall,2,342562,5510424
2,Fast As a Shark,3,230619,3990994
3,Restless and Wild,3,252051,4331779
4,Princess of the Dawn,3,375418,6290521
...,...,...,...,...
3498,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,286741,4718950
3499,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,139200,2283131
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,66639,1189062
3501,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,221331,3665114
3502,Koyaanisqatsi,347,206005,3305164

In [11]:
df_track.groupby("Name")["Milliseconds"].sum()

Name
"40"                                                           157962
"?"                                                           2782333
"Eine Kleine Nachtmusik" Serenade In G, K. 525: I. Allegro     348971
#1 Zero                                                        299102
#9 Dream                                                       278312
                                                               ...
É que Nessa Encarnação Eu Nasci Manga                          196519
Étude 1, In C Major - Preludio (Presto) - Liszt                 51780
Óculos                                                         219271
Óia Eu Aqui De Novo                                            219454
Último Pau-De-Arara                                            200437
Name: Milliseconds, Length: 3257, dtype: int64

In [12]:
df_track["Milliseconds"]

0       343719
1       342562
2       230619
3       252051
4       375418
         ...
3498    286741
3499    139200
3500     66639
3501    221331
3502    206005
Name: Milliseconds, Length: 3503, dtype: int64

In [13]:
import numpy as np

In [16]:
vetor = np.array([10,20,30,40,50])

In [23]:
matriz_2d = np.array([[10, 20], [4, 5], [100, 200]])
matriz_2d

array([[ 10,  20],
       [  4,   5],
       [100, 200]])

In [17]:
vetor

array([10, 20, 30, 40, 50])

In [28]:
#Estruturas unidimensionais =  pandas series

s1 = pd.Series([10,20,30,40,50])
s2 = pd.Series([1,2,3,4,5])

s_soma = s1 + s2
s_sub = s1 +- s2
s_multi = s1 * s2
s_div = s1 / s2
print(s_soma)
print(s_sub)
print(s_multi)
print(s_div)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0     9
1    18
2    27
3    36
4    45
dtype: int64
0     10
1     40
2     90
3    160
4    250
dtype: int64
0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

In [32]:
s1 = pd.Series([10,20,30,40,50], name = "Series 1")
s2 = pd.Series([1,2,3,4,5], name = "Series 2")
print(s1)
print(s2)

0    10
1    20
2    30
3    40
4    50
Name: Series 1, dtype: int64
0    1
1    2
2    3
3    4
4    5
Name: Series 2, dtype: int64

In [34]:
df = pd.DataFrame({'Serie 1': s1, 'Serie 2': s2})
df

   Serie 1  Serie 2
0       10        1
1       20        2
2       30        3
3       40        4
4       50        5

In [9]:
s1 = pd.Series([10,20,30,40,50], name = "Series 1")
s2 = pd.Series([1,2,3,4,5], name = "Series 2")
s3 = pd.Series(['A', 'B', 'C', 'B', 'A'], name = "Series 3")

df = pd.DataFrame({'Serie 1': s1, 'Serie 2': s2, 'Serie 3': s3})

df['soma'] = df['Serie 1'] + df["Serie 2" ]
df['sub'] = df['Serie 1'] - df["Serie 2" ]
df

   Serie 1  Serie 2 Serie 3  soma  sub
0       10        1       A    11    9
1       20        2       B    22   18
2       30        3       C    33   27
3       40        4       B    44   36
4       50        5       A    55   45

In [10]:
df.groupby("Serie 3")['soma'].max()
df.groupby("Serie 3")['soma'].min()
df.groupby("Serie 3")['soma'].mean()
df.groupby("Serie 3")['soma'].median()
df.groupby("Serie 3")['soma'].std()

Serie 3
A    31.112698
B    15.556349
C          NaN
Name: soma, dtype: float64

In [7]:
num = pd.Series(range(1,11) , name = "Numero")
df = pd.DataFrame({'numero': num})
num
num[2]

3

In [11]:
num1 = pd.Series(range(1,6) , name = "Numero1")
num2 = pd.Series(range(6,11) , name = "Numero2")
df = pd.DataFrame({'numero': num})
s_soma = num1 + num2
print(s_soma)

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [13]:
num = pd.Series(range(1,11))
s_filtrado = num[num>5]
print(s_filtrado)

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
s = pd.Series(range(1,11))
s.mean()
s.std()

3.0276503540974917

In [14]:
s1 = pd.Series(range(1,11))
s2 = pd.Series(range(10,1, -1))
s_sub = s1 - s2
s_sub

0   -9.0
1   -7.0
2   -5.0
3   -3.0
4   -1.0
5    1.0
6    3.0
7    5.0
8    7.0
9    NaN
dtype: float64

In [16]:
s1 = pd.Series(range(1,11))

s1.sort_values(ascending = False)

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

In [18]:
s1 = pd.Series([10,20,20,30,40,50,50])

s1.duplicated().any()

True

In [19]:
s1 = pd.Series(range(1,11))

s1[3:8]

3    4
4    5
5    6
6    7
7    8
dtype: int64