In [1]:
lista1= [1,2,3]
lista2= [4,5,6]

for i in range(len(lista1)):
    for k in range(len(lista2)):
        if i == k:
            print(f"A soma dis elemntos na posição {i}, é {lista1[i] + lista2[k]}")

A soma dis elemntos na posição 0, é 5
A soma dis elemntos na posição 1, é 7
A soma dis elemntos na posição 2, é 9

In [3]:
palavras = ["python", "matlab", "javascript", "vscode", "spyder"]
vogais = 'aeiou'

for palavra in palavras:
    count_vogais = 0

    for letra in palavra:
        if letra in vogais:
            count_vogais += 1

    print(f"A palavra {palavra} tem {count_vogais} de vogais.")

A palavra python tem 1 de vogais.
A palavra matlab tem 2 de vogais.
A palavra javascript tem 3 de vogais.
A palavra vscode tem 2 de vogais.
A palavra spyder tem 1 de vogais.

In [5]:
emails = ["a@gmail.com", "b@hotmail.com", "c@gmail.com", "d@hotmail.com", "e@hotmail.com"]
arrobas = ["gmail", "hotmail"]

for email in emails:
    for arroba in arrobas:
        if arroba in email:
            print(f"O email {email} tem o dominio {arroba}.")

O email a@gmail.com tem o dominio gmail.
O email b@hotmail.com tem o dominio hotmail.
O email c@gmail.com tem o dominio gmail.
O email d@hotmail.com tem o dominio hotmail.
O email e@hotmail.com tem o dominio hotmail.

1 crie uma estrutura para mostrar uma tabuada que calcula a multiplcação de numeros de 2 a 6
2 crie uma estrutura para contar as consoantes nas palavras da lsita abaixo
lista_palavras = ["brasil", "inglaterra", "estados unidos", "canada", "chile"]

3 crie uma estrutura para verificar se as palavras chave aparecem nos parágrafos.
lista_texto = ["hoje é sexta-feira", "em 2022, tivemos a copa do mundo", "a melhor forma de studar python é praticar"]
palavras_chave = ["hoje", "mundo", "estudar", "praticar"]

In [13]:
#1

for i in range(2,7):
    for k in range(1,11):
        print(f"{i} x {k} = {i * k}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [20]:
#2
lista_palavras = ["brasil", "inglaterra", "estados unidos", "canada", "chile"]
vogais = "aeiou"
for palavra in lista_palavras:
    count_consoantes = 0
    for letra in palavra:
        if letra not in vogais and letra != " ":
            count_consoantes += 1
    print(f"A palavra {palavra} tem {count_consoantes} de consoantes.")

A palavra brasil tem 4 de consoantes.
A palavra inglaterra tem 6 de consoantes.
A palavra estados unidos tem 7 de consoantes.
A palavra canada tem 3 de consoantes.
A palavra chile tem 3 de consoantes.

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame([[4,5], [7,8]], columns=["coluna1", "coluna2"])

df_normalizado = df.apply(lambda col: (col - col.min()) / (col.max() - col.min()))

df_normalizado

   coluna1  coluna2
0      0.0      0.0
1      1.0      1.0

In [24]:
df = pd.DataFrame({
    "nome": ["alice", "maria", "pedro", "tiago"]
})

df["nome completo"] = df.apply(lambda x: x + "silva")
df

    nome nome completo
0  alice    alicesilva
1  maria    mariasilva
2  pedro    pedrosilva
3  tiago    tiagosilva